<section class="margin-maker">
  <h1>MOST DANGEROUS DAY</h1>
  <p><%= @asteroids.date_range %></p>
  <h3>
    <%= @asteroids.most_dangerous_day_format %> has <%= @asteroids.most_dangerous_day.count %> potentially dangerous near earth objects
  </h3>
  <% @asteroids.most_dangerous_day.each do |asteroid| %>
    <ul>
      <li>Name: <%= asteroid.name %></li>
      <li>NEO Reference ID: <%= asteroid.id %></li>
    </ul>
  <% end %>
</section>
